.contactMe section {
    display: flex;
    justify-content: center;
}

.contactMe form {
    max-width:420px;
    margin:50px auto;
}

.contactMe h4 {
    font-size: 1.25em;
    color: var(--accent-color);
}

.contactMeInput {
    color:white;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid var(--accent-color);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.contactMe input :-webkit-autofill {
    background-color: transparent;
}

.contactMe input :focus {
    border:2px solid #CC4949;
}

.contactMe textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

.contactMe button {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: var(--accent-color);
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

.contactMe button :hover {
    background:#CC4949;
}