.blogPanel {
    border-bottom: 1px solid var(--white);
    margin-left: 2.5em;
    margin-right: 2.5em;
    margin-bottom: 3em;
}

.blogPanel img {
    max-width: 60px;
    height: 60px;
    margin-top: 1em;
    border-radius: 40px;
    margin-right: 1em;
}

.blogPanel h2 a {
    font-size: 1.5em;
    padding-bottom: 0.5em;
    color: var(--accent-color);
}