:root {
    --white: #F0EFEA;
    --black: #131619;
    --accent-color: #9A241C;
    --purple: #35222F;
    --navy-blue: #131619;

    --footer-height: 10em;
}

section {
    margin-left: 3.5vw;
    margin-right: 3.5vw;
}

body {
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    margin: 0;
    background-color: var(--black);
    color: var(--white);
    position: relative;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--white);
}

h1 {
    font-weight: bolder;
    text-align: center;
    font-size: 2.5em;
}

body {
    padding-bottom: var(--footer-height);
}